pybluez
gevent
web3
populus
# This pyethereum restriction is required by eth-test-rpc
ethereum<2.0.0,>=1.6.1
Coincurve
Flask>=0.11.1
flask-restful
Flask-Cors==3.0.2

# For qr code stuff
qrcode
pymaging
pymaging-png
